{% extends 'nav.html' %}
{% block content %}
</br></br></br>
<div align=center>
<form method='post' action =''>
    {% csrf_token %}
    <table>
    	<tr>
    		<td>
    			<p id="register">Location </p>
    		</td>
    		<td>
   				{{ form.location }}
   			</td> 

   		</tr>
   		<tr>
     		<td>
    			<p id='register'>Gender</p>
    		</td>
    		     		<td>
   				{{ form.gender }}
   			</td> 		
   		</tr>	
    </table>
    <div class="btn-group btn-group-justified">
  
   <p align='center'>
   	<input type='submit' value='Update' align="center" class="btn btn-default" role="button"/>
    </p>
  </div>
    
</form>
</div>
{% endblock %}
