{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
<style>
    .header {
        color: #36A0FF;
        font-size: 27px;
        padding: 10px;
    }

    .bigicon {
        font-size: 35px;
        color: #36A0FF;
    }
</style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lorem Ipsum</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}"/>
    <link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/bootstrap-social.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/mystyle.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <script src="{% static 'js/app1.js' %}"></script>
    <link href="{% static 'css/scrolling-nav.css' %}" rel="stylesheet">


    <link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll">
    <!-- Contact Section -->
    <section id="about" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-md-offset-0">
                    <div class="heading">
                        <img src="{% static 'icons/me.png' %}" id="img">
                        <h1>Vipul Sharma</h1>
            <a class="btn btn-social-icon btn-github" href="https://github.com/vipul-sharma20" title="GitHub" rel="nofollow">
                <i class="fa fa-github"></i>
            </a>
            <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/vipul.py" title="Facebook" rel="nofollow">
                <i class="fa fa-facebook"></i>
            </a>
            <a class="btn btn-social-icon btn-linkedin" href="https://in.linkedin.com/pub/vipul-sharma/8a/749/128" title="Linkedin" rel="nofollow">
                <i class="fa fa-linkedin"></i>
            </a>
            <a class="btn btn-social-icon btn-google-plus" href="https://plus.google.com/u/0/+VipulSharma20/" title="GooglePlus" rel="nofollow">
                <i class="fa fa-google-plus"></i>
            </a>
            <a class="btn btn-social-icon btn-instagram" href="http://instagram.com/vipul.py/" title="Instagram" rel="nofollow">
                <i class="fa fa-instagram"></i>
            </a>

                    </div>
        </div>

                    <div class="col-md-8 col-md-offset-1 text-center heading">
                    <p>
                    Hi! I am Vipul, an Engineering undergraduate, a Pythonista,
                    and a die hard fan of Coldplay
                    </p>
                    <p>
                        I <span style="color:#CC0000">♥</span> Python
                    </p>
                        </div>
                        </div>
    </section>
    <section id="intro" class="contact-section">
        <div class="container">
            <div class="row">

                    <div class="col-md-12 text-left heading">
                    <p>
                    I wish:
                    <ul>
                        <li>
                        <p>to contribute to Open Source</p>
                        </li>
                        <li>
                        <p>to be a pro in keyboard and guitar :D</p>   
                        </li>
                        <li>
                        <p>to visit a Coldplay concert :)</p>    
                        </li>

                    </p>

                        </div>
                        </div>
        <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/scrolling-nav.js' %}"></script>

</body>

</html>
