{% extends "nav.html" %}
{% load staticfiles %}
{% block content %}
<h2 class='heading' align='center'>Newest</h2>
<div>
    <table align="center" class="table table-striped table-condensed table-bordered articles">
        {% if comments %}
        {% for comment in comments %}
        <tr class="com">
            <td>
                {{ comment.comment }}
                </br>
                <font size="1">
                {{ comment.date|timesince:now }} ago
                </br>
                <a href="/users/{{ comment.article.uploader }}">{{ comment.article.uploader }}</a>

                 article: <a href="/accounts/articles/comments/{{ comment.article.id }}">
                    {{ comment.article.description }}
                </a>
                </font>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
</div>
{% endblock %}

